<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        
        <form action="/create" method="post">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 bg-transparent rounded-lg" name="name" placeholder="name">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 bg-transparent rounded-lg" name="email" placeholder="email">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 bg-transparent rounded-lg" name="img" placeholder="img url">
            <input type="submit" class="px-5 py-2 bg-blue-500 rounded-lg ml-3" value="Create user">
        </form>
    </div>
</body>
</html>